Doctype html
html
  head
    title Flora Dance Academy||Floradance.com
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src = "/static/logo.png")
            div#logo-print
                |Flora
            li #[a(href="/") Home] 
            li #[a(href="/") Course]
            li #[a(href="/contact") Contact]
            li #[a(href="/") About] 
    block content 
    footer#footer 
        |All Copyright Reserved@2o2o||floradance.co.in