
  @import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&family=Sedgwick+Ave+Display&display=swap');

*{
    padding:0px;
    margin: 0px;
}
body{
    
    background-color: black;
}
#logo{
    display: flex;
    color: #5e0c00;
    align-items: center;
    
}
#logo img{
    height: 47px;
   
    padding: 14px 53px;
}
#logo-print{
    flex-direction: column;
    color: #5e0c00;
    position: relative;
    top: 35px;
    left: -99px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
/* styling of navabar */
#navbar{
    background-color: black;

}
#navbar ul{
    padding: 12px 0px;
    font-size: 1.3rem;
    display: flex;
    
    align-items: center;
} 
#navbar li a{
    font-family: 'Pathway Extreme', sans-serif;
    margin: 3px 8px;
    padding: 16px 5px;
    color: white;
    text-decoration: none;
}
#navbar li{
    list-style: none;
    padding:10px 8px;
}
#navbar li a:hover{
    color:#5e0c00
}
#introsection{
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
    font-family: 'Pathway Extreme', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:688px;
    background: center/cover no-repeat url("/static/bg.jpg");
}
#sponsersection{
    height:420px;
    background-color: rgb(0, 0, 0);
} 
.cards{
    border:solid white 2px;
    height: 281px;
    width: 28%;
    display: inline-block;
    border-radius: 19px;
    padding: 25px 11px;
    margin:   14px 23px;
    text-align: center;
    text-decoration: dotted;
    box-shadow: #5e0c00 1px -9px 50px;
}

h3{
    
    font-size: 20px;
    font-family: 'Pathway Extreme', sans-serif;
}

#Mission
{
    width: 87%;
display: block;
margin: 14px auto;
height: 483px;
background-color: #020202;
color: #ffffff;
}

#Mission h2{
    padding-top: 12px;
        text-align: center;
        padding:28px 12px;
        font-family: 'Pathway Extreme', sans-serif;
        font-size: 2.5rem;
        
}

#footer{
   display: flex;
   justify-content: center;
   align-items: center;
    height:30px;
    background-color: #5e0c00; 
}
.card-box{
    margin-top: 10px;
    
}
.text p{
    text-align: center;
    color: white;
    padding: 3px;
    font-family: 'Pathway Extreme', sans-serif;
    
}
.card-img img{
    height:169px;
}
.sponsers{
    
    height: 282px;
    width: 30%;
    display: inline-block;
}
#sponsersection h2{
    text-align: center;
    padding:28px 12px;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 2.5rem;
    display: block;
    margin: auto;
    color: #ffffff;
}
.sponsers img{
    height: 19px;
    height: 211px;
display: block;
margin: auto;
image-rendering: pixelated;
filter: invert();
}
#mega{
    
display: flex;
justify-content: center;
}
